
.lato {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

.source {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
}

.body {
    composes: source;
}